[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    env,
    venv
ignore =
    D100,  # Ignore missing docstrings in public modules
    D103,  # Ignore missing docstrings in public functions
    WPS411 # Ignore empty module
format = github
