<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/element-plus"></script>
</head>
<body>
    <div id="app">
        <el-header>

                    <el-menu mode="horizontal">
                        <el-menu-item index="1"><a href="/">主页</a></el-menu-item>
                        <el-menu-item index="2"><a href="/portal">传送门</a></el-menu-item>
                        <el-menu-item index="3"><a href="/magic">魔网施法导论</a></el-menu-item>
                        <el-menu-item index="4"><a href="/downloads">下载</a></el-menu-item>
                        <el-menu-item index="5"><a href="/discord">Discord服务器</a></el-menu-item>
                    </el-menu>

        </el-header>
        <el-main>
            {% block content %}
            {% endblock %}
        </el-main>
        <el-footer>
            © 2024 ECIC 学习库 版权所有
        </el-footer>
    </div>

    <script>
        const { createApp } = Vue;
        const app = createApp({});
        app.use(ElementPlus);
        app.mount('#app');
    </script>
</body>
</html>
