<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
</head>
<body>
<template>
  <el-menu
    :default-active="activeIndex"
    class="el-menu-demo"
    mode="horizontal"
    :ellipsis="false"
    @select="handleSelect"
  >
    <el-menu-item index="0">
      <img
        style="width: 100px"
        src="/images/element-plus-logo.svg"
        alt="Element logo"
      />
    </el-menu-item>
    <div class="flex-grow"></div> <!-- This should push other items to the right -->
    <el-menu-item index="1">Processing Center</el-menu-item>
    <el-sub-menu index="2">
      <template #title>Workspace</template>
      <el-menu-item index="2-1">item one</el-menu-item>
      <el-menu-item index="2-2">item two</el-menu-item>
      <el-menu-item index="2-3">item three</el-menu-item>
      <el-sub-menu index="2-4">
        <template #title>item four</template>
        <el-menu-item index="2-4-1">item one</el-menu-item>
        <el-menu-item index="2-4-2">item two</el-menu-item>
        <el-menu-item index="2-4-3">item three</el-menu-item>
      </el-sub-menu>
    </el-sub-menu>
  </el-menu>
</template>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/element-plus"></script>
<script type="module">
  import Vue from 'https://unpkg.com/vue@3'; // Use the full URL to the Vue module

  const { createApp, ref } = Vue;

  const App = {
    setup() {
      const activeIndex = ref('1');
      const handleSelect = (key, keyPath) => {
        console.log(key, keyPath);
      };
      return { activeIndex, handleSelect };
    },
  };

  createApp(App).mount('#app');
</script>

<style>
.el-menu-demo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Ensuring menu takes full width */
}

.flex-grow {
  flex-grow: 1;
}
</style>
</body>
</html>
